.CommentSubmitForm {
  width: 100%;
  // height: 56px;
  height: auto;
  min-height: 56px;

  padding: 16px;

  position: sticky;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  // background-color: burlywood;
}

.CommentSubmitForm-textareaContainer {
  width: 100%;
  margin-right: 16px;

  // background-color: chocolate;
}

.CommentSubmitForm-textarea {
  width: 100%;
  min-height: 32px;
  max-height: 128px;

  padding: 5px 0;
  border: none;

  font-size: 15px;
  line-height: 22px;
  overflow-y: hidden;
  vertical-align: middle;

  // background-color: blue;
}

.CommentSubmitForm-textarea::placeholder {
  color: #aaaaaa;

  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  vertical-align: middle;
}

.CommentSubmitForm-textCounter {
  color: #aaaaaa;
  font-size: 14px;
  text-align: left;
}

.CommentSubmitForm-btn {
  width: 32px;
  height: 32px;

  margin-top: auto;

  border: none;
  border-radius: 8px;
}

.temp {
  height: auto;
}
