// 폰트 컬러별로
.font-color--key {
  color: $prime-color;
}

.font-color--11 {
  color: #111111;
}

// font-weight
.font-weight--400 {
  font-weight: 400;
}
.font-weight--700 {
  font-weight: 700;
}

// font-size
.font-size--15 {
  font-size: 15px;
}
