// 정렬
.vertical--center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// 너비
.width--full {
  width: 100%;
}

.width--288 {
  width: 288px;
}

// 마진값
.mg-top--4 {
  margin-top: 4px;
}

.mg-top--48 {
  margin-top: 48px;
}

.mg-right--4 {
  margin-right: 4px;
}

.mg-right--6 {
  margin-right: 6px;
}

.mg-right--8 {
  margin-right: 8px;
}

.mg-right--16 {
  margin-right: 16px;
}

.mg-right--17 {
  margin-right: 17px;
}

.mg-top--10 {
  margin-top: 10px;
}

.mg-top--12 {
  margin-top: 12px;
}

.mg-top--16 {
  margin-top: 16px;
}

.mg-bottom--12 {
  margin-bottom: 12px;
}

.mg-bottom--16 {
  margin-bottom: 16px;
}

.mg-bottom--64 {
  margin-bottom: 64px;
}

// 패딩값

.pd--16 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.pd--24 {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
}

.pd-top--8 {
  padding-top: 8px;
}
