.loader {
  background-color: $loader-color;
}

.loader-border {
  border-color: $loader-color;
}

.loader--ScreenHelmet {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid $loader-color;
}

.loaderItem-first {
  background-color: $loader-color;
}
.loaderItem-second {
  background-color: #f7f7f7;
}
.loaderItem-third {
  background-color: #f9f9f9;
}
.loaderItem-fourth {
  background-color: #fbfbfb;
}
