// 모든 페이지의 가장 바깥 wrapper. 기본 규격
.Page {
  width: 100%;

  // height를 어떻게 생각해야 할까?
  height: 100%;

  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  background-color: cadetblue;
}
