// colors

// 포인트컬러들
$temp-first-color: #bd1f36;
$temp-second-color: #e78c15;
$temp-third-color: #c8e715;

// 텍스트컬러들
$text-first-color: #111111;
$text-second-color: #555555;
$text-third-color: #999999;
$text-reverse-color: #eeeeee;
